@page "/"

@inherits Helpers.BindableBase

<h3>Blazor Web Bluetooth API tester</h3>

<div>

    @if (AdvertisementsFeatureDissabled)
    {
        <p>Please make sure to Enable Experimental Web Platform feature for bluetooth to have advertisements!</p>
        <p>(Copy relevant to your browser ref to search field)</p>
        <p>chrome://flags/#enable-experimental-web-platform-features</p>
        <p>edge://flags/#enable-experimental-web-platform-features</p>
    }

    @if (BluetoothAdvertisingEvent != null)
    {
        <h4>Advertisement:</h4>
        <p>Apperience:       @BluetoothAdvertisingEvent.Appearance</p>
        <p>Device:           @BluetoothAdvertisingEvent.Device</p>
        <p>ManufacturerData: </p>
        @if (@BluetoothAdvertisingEvent.ManufacturerData != null)
        {
            @foreach (var item in BluetoothAdvertisingEvent.ManufacturerData)
            {
                <p> - Key: @item.Key, Value: @item.Value</p>
            }
        }

        <p>Name:             @BluetoothAdvertisingEvent.Name</p>
        <p>Rssi:             @BluetoothAdvertisingEvent.Rssi</p>
        <p>Service_data:</p>
        @if (@BluetoothAdvertisingEvent.ServiceData != null)
        {
            @foreach (var item in BluetoothAdvertisingEvent.ServiceData)
            {
                <p> - Key: @item.Key, Value: @item.Value</p>
            }
        }
        <p>Tx_power:         @BluetoothAdvertisingEvent.TxPower</p>
        <p>UUIDs:</p>
        @if (@BluetoothAdvertisingEvent.Uuids != null)
        {
            @foreach (var item in BluetoothAdvertisingEvent.Uuids)
            {
                <p> - item</p>
            }
        }
    }


    @if (Device == null || !Device.Gatt.Connected)
    {
        <EditForm OnValidSubmit="RequestDevice" Model="DeviceFilter">

            <div class="form-group">
                <label>
                    Allow all devices:
                </label>
                <InputCheckbox class="form-control" @bind-Value="DeviceFilter.AllowAllDevices" />
            </div>

            @if (!DeviceFilter.AllowAllDevices)
            {
                <div>
                    <div class="form-group">
                        <label>
                            Device name:
                        </label>
                        <InputText class="form-control" @bind-Value="DeviceFilter.DeviceName" />
                    </div>

                    <div class="form-group">
                        <label>
                            Device name prefix:
                        </label>
                        <InputText class="form-control" @bind-Value="DeviceFilter.DeviceNamePrefix" />
                    </div>

                    <div class="form-group">
                        <label>
                            Service UUID:
                        </label>
                        <InputText class="form-control" @bind-Value="DeviceFilter.ServiceUuid" />
                    </div>
                </div>
            }

            <div class="form-group">
                <button class="btn-primary" disabled="@IsBusy" type="submit">Request device</button>
            </div>

        </EditForm>
    }

    @if (Device != null)
    {
        @if (!AdvertisementsReceiveActivated)
        {
            <button type="button" @onclick="StartReceivingAdvertisements">Start watching advertisements</button>
        }

        <div class="border border-success">
            <div class="form-group">
                <label>
                    <b>Device name:</b> @Device.Name
                </label>
            </div>
            <div class="form-group">
                <label>
                    <b>Device id:</b> @Device.Id
                </label>
            </div>
            <div class="form-group">
                <label>
                    <b>Is device connected:</b> @Device.Gatt.Connected
                </label>
            </div>

            <div class="form-group">
                <button class="btn-outline-secondary" disabled="@IsBusy" @onclick="UpdateIsConnected">Update Connected state</button>
            </div>

            @if (Device.Gatt.Connected)
            {
                <div class="form-group">
                    <button class="btn-danger" disabled="@IsBusy" type="button" @onclick="DisconnectDevice">Disconnect the device</button>
                </div>
            }
            else
            {
                <div class="form-group">
                    <button class="btn-primary" disabled="@IsBusy" type="button" @onclick="ConnectDevice">Connect the device</button>
                </div>
            }
        </div>
    }


    <div class="border border-warning">
        @foreach (var item in Logs)
        {
            <label>
                @item
            </label>
            <br />
        }
    </div>
</div>
