@inherits BindableBase

@if (Device != null)
{
    <div class="form-group" style="background: #EAFAF1;">

        <AdvComponent Device="Device" Logs="Logs" />

        <div class="form-group">
            <p><b>Device info:</b></p>
            <p>Name: @Device.Name</p>
            <p>Id: @Device.Id</p>
            <p>Gatt.DeviceUuid: @Device.Gatt.DeviceUuid</p>
            <p>Gatt.Connected: @Device.Gatt.Connected</p>

        </div>

        @if (Device.Gatt.Connected)
        {
            <ShowConnectedDeviceComponent Device="Device" Logs="Logs" />
        }

        <div class="form-group">
            <p>

                @if (!Device.Gatt.Connected)
                {
                    <button class="btn btn-outline-success" disabled="@IsBusy" onclick="@ConnectDevice" type="button">Connect</button>
                }
                else
                {
                    <button class="btn btn-outline-danger" disabled="@IsBusy" type="button" onclick="@DisconnectDevice">Disconnect the device</button>
                }

                <button class="btn btn-outline-secondary" disabled="@IsBusy" onclick="@UpdateIsConnected" type="button">Update Connected state</button>
            </p>
        </div>
    </div>
}
