@inherits BindableBase

<div class="form-group" style="background: #FAE5D3;">
    <p><b>Properties: </b></p>
    <p>Value: @Descriptor.Value</p>
    <p>CharacteristicUuid: @Descriptor.CharacteristicUuid</p>
    <p>DeviceUuid: @Descriptor.DeviceUuid</p>
    <p>ServiceUuid: @Descriptor.ServiceUuid</p>
    <p>Uuid: @Descriptor.Uuid</p>
    <br/>

    <p><b>Methods: </b></p>
    <p>Should be readValue</p>
    <p>Should be writeValue(ArrayBuffer value)</p>
</div>